<h1>{{title}}
</h1>
<ul class="nav">
    <li><a class="nav-links" href="/">Home</a></li>
    <li><a class="nav-links" href="/about">About</a></li>
    <li><a class="nav-links" href="/help">Help</a></li>
</ul>